@mixin box-sizing($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	-o-box-sizing: $value;
	-ms-box-sizing: $value;
	box-sizing: $value;
}

@mixin transition($property, $time) {
	-webkit-transition: $property $time;
	transition: $property $time;
}

@mixin center-element {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@mixin button($color: $blue, $text: #fff, $secondaryColor: $darkBlue, $secondaryText: #fff) {
	background-color: $color;
	color: $text;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 15px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;

	@include transition(background-color, 0.3s);
	@include transition(border-radius, 0.3s);

	&:hover {
		background-color: $secondaryColor;
		color: $secondaryText;
		border-radius: 0;
	}
}