#recent-projects {
	margin-top: 30px;
	background: url('../../images/header-bg.png');
	color: #fff;
	padding-top: 100px;

	h3 {
		text-align: center;
		color: #fff;
	}

	& > .button {
		@include center-element;
		clear:both;
	}

	.project {
		float: left;

		.project-image {
			@include hexagon-image;

			img {
				width: 100%;
				height: auto;
			}

			//Styles for the title positioning
			.hex-inner-2 {
				position: relative;

				.project-title {
					position: absolute;
					top: 120px;
					text-align: center;
					margin: 20px;

					h4 {
						color: #fff;
						text-shadow: 1px 1px 1px #333;
						line-height: 40px;
					}
				}
			}
		}
	}	
}