@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
);

//Layout variables
$large: 1000px;
$medium: 860px;
$small: 740px;
$tiny: 500px;

/*
 * Susy Reference
 * container - Establish a layout context
 * container(x) - Establish a layout context of max width x
 * gutter() - Inserts gutter space
 * span(n of x) - Span n number of x columns
 * span(x%) - Span x percentage of parent container
*/
.wrapper {
	width: 100%;
}

header,
.container,
footer {
	@include container($medium);
}

#main-wrapper {
	margin-top: 25px;
	#main-content {
		padding-top: 25px;
	}	
}

#footer-wrapper {
	margin-top: 25px;

	footer {
		padding-top: 25px;
	}
}

//Column settings
.column {
	display: inline-block;
	vertical-align: top;
}

.col-25 {
	text-align: center;
	margin-bottom: 20px;
}

@include breakpoint($medium) {
	.col-25 {
		width: span(24%);
		margin-right: 1%;
		text-align: center;
		margin-bottom: 0;
	}

	.col-75 {
		width: span(74%);
	}
}
