//Not sure where to put these right now
.messages {
	width: 90%;
	@include center-element;
	border: 5px solid;
	text-align: center;
	@include box-sizing(border-box);
	padding: 10px;

	&.status {
		border-color: $darkGreen;
		background-color: lighten($lightGreen, 10%);
	}

	&.error {
		border-color: $red;
		background-color: lighten($lightRed, 10%);
	}

	&.warning {
		border-color: $yellow;
		background-color: lighten($lightYellow, 10%);
	}
}