<div class="hero">
	<h1 id="page-title">Logan Farr</h1>
	<h2 style="text-align: center;">Web Developer. Programmer. Student.</h2>
</div>
<div id="home">
	<div id="recent-projects">
		<div class="container">
			<h3>Recent Projects</h3>

			<div class="project" ng-repeat="project in recentProjects.projects">
				<div class="project-image hex-container">
					<div class="hex-inner-1">
						<div class="hex-inner-2" ng-style="{'background-image': 'url({{project.image.src}})'}">
							<a href="/#/projects/{{project.title}}">
								<div class="project-title">
									<h4>{{project.title}}</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<a href="#" class="button">View All Projects</a>
		</div>
	</div>

	<div id="recent-posts">
		<div class="container">
			<h3>Recent Blog Posts</h3>

			<div class="post clearfix" ng-repeat="post in recentBlogPosts">
				<div class="post-image"><img ng-src="{{post.image.src}}" /></div>
				<h4 class="post-title"> {{post.title}} </h4>
				<div class="post-date">{{post.post_date}}</div>
				<div class="post-body">{{post.body}}</div>
				<a class="" style="float:right;" ng-click='getPost(post.nid)'>Read Full Post</a>
			</div>

			<code>{{article}}</code>

			<div id="test-post" ng-repeat="post in article | limitTo: 1 ">
				<!-- Find a way to be more consistent! -->
				
				<div class="article-title">{{post.title}}</div>
				<div class="article-image"><img ng-src="{{post.image.src}}" /></div>
				<div class="article-body" ng-bind-html="post.body_trusted"></div>

			</div>

			<a class="button" style="float: right;" href="/blog">See all Posts</a>
		</div>
	</div>
</div>