<div class="hero home">
	<h1 id="page-title">Logan Farr</h1>
	<h2 style="text-align: center;">Web Developer. Programmer. Student.</h2>
</div>
<div id="home">
	<div id="recent-projects">
		<div class="container">
			<h3>Recent Projects</h3>

			<div class="project" ng-repeat="project in recentProjects.projects">
				<a href="#/projects/{{project.node_id}}">
					<div class="project-image hex-container">
						<div class="hex-inner-1">
							<div class="hex-inner-2" ng-style="{'background-image': 'url({{project.front_image.src}})'}">
									{{project.title_encoded}}
									<div class="project-title">
										<h4>{{project.title}}</h4>
									</div>
								
							</div>
						</div>
					</div>
				</a>
			</div>

			<a href="#/portfolio" class="button">View All Projects</a>
		</div>
	</div>

	<div id="recent-posts">
		<div class="container">
			<h3>Recent Blog Posts</h3>

			<div class="post clearfix" ng-repeat="post in recentBlogPosts track by post.nid">
				<div class="post-image"><img ng-src="{{post.image.src}}" /></div>
				<h4 class="post-title"> {{post.title}} </h4>
				<div class="post-date">{{post.post_date}}</div>
				<div class="post-summary" ng-bind-html="post.summary" ng-show="!post.shownMore">{{post.summary}}</div>
				<div class="post-body" ng-bind-html="post.body" ng-show="post.shownMore">{{post.body}}</div>
				<a class="post-toggle" style="float:right;" ng-click='getArticle(this, post.nid)' ng-show="!post.shownMore">Read Full Post</a>
				<a class="post-toggle" style="float:right;" ng-click='showLess(this, post.nid)' ng-show="post.shownMore">Show Less</a>
			</div>

			<a class="button" style="float: right;" href="#/blog">See all Posts</a>
		</div>
	</div>
</div>